/* This file is for your main application css. */

body {
    margin:  0px;
    padding: 0px;
}

#stream {
    width:  480px;
    height: 360px;
    margin: 60px 20px 60px 20px;
    float:  left;
}

#controls {
    width:    260px;
    height:   480px;
    padding:  60px 0px;
    overflow: hidden;
}

#controls h1 {
    margin: 0px 0px 20px 0px;
    height: 40px;

    font-size:   40px;
    line-height: 40px;
}

#controls #counter {
    margin:  0px;
    padding: 0px;
    height:  240px;

    font-size:   240px;
    line-height: 240px;
}

#controls #clicker {
    margin:  20px 0px 0px 0px;
    padding: 2px 5px;
    height:  40px;

    font-size:        30px;
    line-height:      30px;
    text-align:       center;
    background-color: black;
    color:            white;
}
#controls #clicker:active {
    color: #990000;
}
#controls #clicker:focus {
    outline: 0px;
}
