/* This file is for your main application css. */

body {
    margin:  0px;
    padding: 0px;
}

#stream {
    width:  480px;
    height: 360px;
    margin: 60px 20px 60px 20px;
    float:  left;
}

#controls {
    width:    260px;
    height:   480px;
    padding:  60px 0px;
    overflow: hidden;
}

#controls h1 {
    margin: 0px;
}
